<!DOCTYPE html>
<html>
	<head>
		<title>Mia Evans' Web Site</title>
		<style>
			#title{
				color: yellowgreen;
				text-align: center;
				font-family: fantasy;
			}
			#title2{
				color:darkolivegreen;
			}
			.tip{
				color: coral;
				font-family: sans-serif;
			}

		</style>
	</head>
	<body>
		<h1 id="title">Debris Hut</h1>

		<div>
			<a href="shelter.html">back</a>

		</div>	
		
		<h3 id="materials">Materials</h3>

		<ul>
			<li>2x forked sticks</li>
			<li>1x pole(stick/log) slightly taller than yourself(light enough to lift but strong enough for you to be unable to brake)</li>
			<li>lots of small twigs</li>
			<li>quite a few short, stronger twigs(different sizes)</li>
			<li>lots of debris(leaf litter)</li>
		</ul>

		<h3>How to Build</h3>

		<ol>
			<li>Place the 2 forked sticks against each other and then rest the large pole in the gap so the structure looks something like this:</li>

			<img src="http://www.tacticalintelligence.net/images/debris-hut/debris4.jpg" alt="frame of debris hut" width=300px>

			<p class="tip">Tip: To make sure that the debris hut will be the right size, you can lie flat under the pole(your feet will be facing towards where the pole meets the ground). None of your body parts should stick out and you should have a few inches above you. No more, no less. </p>

			<li>Lean the short, stronger twigs against the pole, making something like ribs. It will look something like this:</li>

			<img src="http://www.tacticalintelligence.net/images/debris-hut/debris8.jpg" alt="frame and ribs of debri hut" width="300px">
		</ol>


		</ul>
	</body>
</html>