<head>
<style>
	.miabutton { 
    background: gainsboro;
    width: 30%;
    margin: 0 auto;
    border: darkgray 2px solid;
    border-radius: 10px;
    padding: 10px;		
	width: 30%; margin: 0 auto }
</style>
</head>

<h1 style="text-align: center">
	This is the Harry Potter page.
</h1>


<a href="http://google.com">

<div class="miabutton">
Click here to use a Harry Potter currency exchanger to find out the amount of Galleons, Sickles, and Knuts in a certain amount of Knuts
</div>

</a>

<p></p>
<div class="miabutton">
Testing
</div>